[submodule "lib/libvorbis"]
	path = lib/libvorbis
	url = git@github.com:dgorohov/vorbis.git
[submodule "lib/libflac"]
	path = lib/libflac
	url = git@github.com:dgorohov/flac.git
[submodule "lib/liblame"]
	path = lib/liblame
	url = git@github.com:dgorohov/libmp3lame.git
[submodule "lib/libogg"]
	path = lib/libogg
	url = git@github.com:dgorohov/ogg.git
[submodule "lib/libsoundio"]
	path = lib/libsoundio
	url = git@github.com:dgorohov/libsoundio.git
